h3, p {
    margin: 15px 15px;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    margin: 0;
    padding: 0;
    height: 100vh;
}

button {
    padding: 0;
    border: 0;
    background-color: inherit;
}

.emoji,
.player-choice,
.computer-choice {
    font-size: 100px;
    display: inline-block;
}

.emoji {
    text-shadow: 3px 3px 4px black;
}

/* Highlights the player emoji button when pressed */
.player-choice {
    text-shadow: 3px 3px 4px red;
}

/* Highlights the emoji chosen by the computer */
.computer-choice {
    text-shadow: 3px 3px 4px blue;
}

.emoji:hover,
.player-choice:hover,
.computer-choice:hover {
    text-shadow: 3px 3px 4px white;
}

/* Applied to the match result text */
.result {
    text-align: center;
}

.game {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 60px;
}

.player-options,
.computer-options {
    display: flex;
    justify-content: center;
    align-items: center;
}

.player-container,
.computer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    color: white;
    width: fit-content;
    background-color: gray;
    border: 5px solid gray;
    border-radius: 10px;
}